aside{
    position: sticky;
    top: 0;
    left: 0;
}
aside{
    font-size: 16px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    color: white;
    background-color: #373867;
}
aside{
    display: none;
}
#aside-p{
    line-height: 1.5;
}
aside a{
    color: white;
    text-decoration: none;
}
aside nav input {
    width:80%;
    margin-bottom:20px;
    padding:8px 15px;
    color:#ffffff8a;
    background-color:#373867;
    border-color:#ffffff8a;
    border-radius:5px;
    font-weight:100;
 }
 .aside-list p{
    border-bottom: 2px solid white;
    padding: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
    width: 100%;
    
    } 
 .aside-list ul li{
    margin-bottom: 8%;
    border-bottom: 1px solid white;
    padding: 1%;
    text-transform: uppercase;
}
#aside-title{
    margin-top: 15%;
    margin-bottom: 8%;
    border-bottom: 2px solid white;
    font-weight: 600;
}
.aside-buttom{
    display: flex;
    flex-direction: column;   
    justify-content:flex-start;
    align-items: flex-start;
}
.aside-buttom p{
    text-decoration: none;
}

.aside-buttom div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 2%;
    margin-top: 3%;
    width: 100%;
}
.aside-buttom div img{
    margin-right: 5%;
}
.aside-buttom div p{
    display: flex;
}
@media screen and (min-width:768px) {
    aside{
        display: none;
        width: 80%;
     }
     .aside-list ul li{
        margin-bottom: 2%;
    }
    #aside-title{
        margin-top: 8%;
        margin-bottom: 4%;
    }
    #aside-p{
        margin-bottom: 3%;
    }
}
@media screen and  (min-width:900px){
    aside{
        display: none;
        width: 20%
    }
}