footer{
    padding:3%;
    margin:0;
    background-color:#DDDDE5;
}
footer div{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-left:5%;
}
footer h3{
    margin:10% 0% 4% 9%;
    font-size:22px;
    text-transform:uppercase;
}
footer h4{
    margin-bottom:2%;
    font-weight:600;
    font-size:14px;
}
footer a{
    color:inherit;
    font-size:12px;
    text-decoration:none;
    text-transform:uppercase;
}
footer li{
    margin-bottom:1%;
    list-style:decimal;
}
.div-column-footer{
    margin-bottom:20%;
}
.div-footer-img{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:2px solid #C4C4C4;
}
.footer-img{
    display:flex;
    align-items:center;
    gap:5%;
    margin-right:5%;
}
#id-products,#id-support,#id-business{
    display:flex;
    flex-direction:column;
}
@media screen and (min-width:900px){
    footer{
        padding-left:32%;
    }
}