.main-section h2{
    border-bottom: 2px solid #C4C4C4;
}
.main-section{
    display: flex;
    flex-direction: column;
    height: 30%;
    margin-bottom: 20%;
}
.main-section img{
    border-radius: 14px;
}
.main-section p ,.main-section h2 ,.main-section img{
    margin: 3%;
    color:rgba(0, 0, 0, 0.7);

}
.main-section p{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}
.main-section button{
    display: none;
}
.functionalities-section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20%;
    background-color:#DDDDE5;
    margin: 3%;
    padding: 1%;
}
.functionalities-section img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 2%;
    margin-left: 2%;
}
.functionalities-section h2{
    display: none;
}
.functionalities-section p{
    color: #000000D1;
    line-height: 1.5;
    font-size: 12px;
}
.functionalities-section article{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}
.functionalities-section :nth-child(3) ,.functionalities-section :nth-child(5){
    flex-direction: row-reverse;
}
.why-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
}
.why-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-article img{
    display: flex;
    margin: 5%;
}
.why-article h2{
    width: 70%;
    padding: 5%;
    border-bottom: 2px solid #383768;
    text-align: center;
    text-transform: uppercase;
}
.why-article h2 span{
    font-size: 20px;
}
.why-article-down{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3%;
    border-bottom: 2px solid #C4C4C4;
    width: 80%;
}
.why-article-down div{
    display: flex;
    align-items: center;
    padding: 5%;
}
.why-article-down div img{
    margin: 1%;
    width: 48px;
    height: 48px;
}
.why-article-down div p{
    color: #000000CC;
    font-weight: 400;
    line-height: 1.5;
    padding: 2%;
}
.why-article-down :nth-child(2),.why-article-down :nth-child(4){
    flex-direction: row-reverse;
}
.why-article-down div p{
    font-size: 12px;
}
#vert-line{
    display: none;
}
.section-form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.section-form :nth-child(1){
    flex: 1;
}
.section-form :nth-child(2){
    flex: 1;
}
.section-form article{
    padding: 3%;
    margin-bottom: 5%;
}
.love-article h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.love-article p{
    display: none;
}
.love-img :nth-child(1){
    width: 32px;
    height: 32px;
    margin-left: 27%;
    margin-bottom: 1%;
}
.love-img :nth-child(2){
    width: 25px;
    height: 25px;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 2%;
}
.love-img :nth-child(3){
    width: 41px;
    height: 41px;  
    margin-top: 1%;  
}
.get-article div{
    margin-bottom: 4%;
}
.get-article h2{
    display: none;
}
.get-article form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Message , #message{
    width: 288px;
}
.get-article form div label{
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6%;
}
.get-article form div input{
    width: 288px;
    height: 37px;
    border-radius: 5px;
}
.get-article form div .radio-block{
    display: inline;
}
.get-article form .select-area-radio div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 215px;
    height: 36px;
    border-radius: 5px;
    border:1px solid #000000;
}
.get-article form .select-area-radio div label{
    flex: 6;
    font-size: 12px;
    color: #000000B2;
    margin: 0;
}
.get-article form .select-area-radio div input{
    width: 14px;
    height: 14px;
}
#submit-buttom{
    width: 74px;
    height: 20px;
    padding: 2%;
    color:#FFFFFF;
    border:none;
    background-color:#373867;
    line-height:17px;
    font-weight:400;
    font-size:12px;
    border-radius: 0;
}
.about-section{
    margin: 5%;
    margin-bottom: 30%;
    margin-top: 20%;
}
.about-section h2{
    margin-left: 2%;
}
.about-section h2 , .about-section h3 {
    font-weight: 600;
    margin-bottom: 4%;
}
.about-section article img{
    width: 137px;
    height: 133px;
    border-radius: 8px;
}
.about-section p{
    padding: 5%;
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
}
.about-section p span{
    font-weight: lighter;
    text-transform: lowercase;
    display: none;
}
.about-section article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.about-section :nth-child(3){
    flex-direction: row-reverse;
    align-items: center;
}
.line-mission h3{
    text-align: end;
    margin-top: 4%;
    margin-left: 2%;
    font-size: 13px;
}
.line-mission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.line-mission img{
    width: 70%;
    height: 2px;
    background-color: #000000;
    color: #000000;
}
#history-title{
    margin-right:2%;
}
footer{
    margin: 2%;
    background-color: #DDDDE5;
}
footer div{
    display: flex;
    flex-direction: row;
}
#id-products ,#id-support,#id-business{
    flex: 1;
    display: flex;
    flex-direction: column;
}